html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

h4 {
  color: #f74470;
}

.wrapper {
  display: flex;
  align-items: stretch;
}
/* CONTENT */
section {
  padding: 50px 60px;
  position: relative;
  border-bottom: solid 1px #eee;
}
.progress {
  height: 0.5rem !important;
}
.progress-bar {
  background-color: #f74470;
}
.sub-title {
  color: #666;
  font-weight: 400;
}
.hamburger-menu {
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 55px;
  cursor: pointer;
}
.mobile-bar {
  height: 60px;
  right: -60px;
  position: absolute;
  width: 60px;
  z-index: 3;
}
/* END CONTENT */
/* SIDE HEADER MENU */
.list-none {
  list-style: none;
}
.list-menu {
  padding: 0;
  margin: 0;
}
.list-menu__a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.list-menu__a:hover {
  color: #fff;
}
.avatar {
  overflow: hidden;
  width: 165px;
  height: 165px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.name {
  margin: 15px 0;
}
.name h1 {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 0 5px;
}
.name span {
  color: #d8d8e9;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.social-media {
  list-style: none;
  display: flex;
}
.social-media--item {
  padding: 0 20px 0 0;
}
.social-media--item > a {
  color: #eee;
}
/* END SIDE HEADER MENU */
@media (max-width: 770px) {
  section {
    padding: 0px 0px;
    position: relative;
    border-bottom: solid 1px #eee;
  }
}
