html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
h1,
p {
  font-family: Lato;
}
h4 {
  color: #f74470;
}
.menu {
  padding: 46px;
  position: fixed;
  height: 700px;
  width: 280px;
  z-index: 5;
  background-color: #3f51b5;
  transition: 0.8s ease;
}
.menu-push {
  transform: translatex(0px);
}
.menu-unpush {
  transform: translatex(-280px);
}
.content-push {
  transform: translatex(280px);
}
.content-unpush {
  transform: translatex(0px);
}
.content {
  width: 100%;
  background-color: white;
  transition: 0.8s ease;
}
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
section {
  padding: 60px 70px;
  position: relative;
  border-bottom: solid 1px #eee;
}
.content.push {
  transform: translatex(0px);
}
.content.unpush {
  transform: translatex(-295px);
}
.menu.push {
  transform: translatex(0px);
}
.menu.unpush {
  transform: translatex(-295px);
}
/* @media only screen and (max-width: 1015px) {
  .content {
    width: 1015px;
  }
  .wrapper {
    width: 100% !important;
  }
} */
/* @media only screen and (max-width: 880px) {
  .push {
    transform: translatex(428px);
  }
  .unpush {
    transform: translatex(150px);
  }
} */
.progress {
  height: 0.5rem !important;
}
.progress-bar {
  background-color: #f74470;
}
.sub-title {
  color: #666;
  font-weight: 400;
}
.pull-left {
  float: left !important;
}
.pull-rigth {
  float: right !important;
}
.list-none {
  list-style: none;
}
.list-menu {
  padding: 0;
  margin: 0;
}
.list-menu__a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.list-menu__a:hover {
  color: #fff;
}
.avatar {
  overflow: hidden;
  width: 165px;
  height: 165px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.name {
  margin: 15px 0;
}
.name h1 {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 0 5px;
}
.name span {
  color: #d8d8e9;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.hamburger-menu {
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 55px;
  cursor: pointer;
}
.mobile-bar {
  background: rgba(12, 12, 12, 0.75);
  color: #fff;
  height: 60px;
  right: -59px;
  position: absolute;
  width: 60px;
  z-index: 3;
}
.bar {
  position: relative;
  transform: translateY(25px);
  background: #fff;
  transition: all 0 300ms;
}
